/* Unitrans Custom CSS */

.section {
    background: url(https://unitrans.ucdavis.edu/media/banner.jpg);
    background-size: cover;
}

.container.body {
    padding-top: 25px;
    background-color: #ffffffe6;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

@media screen and (min-width: 1088px) {
.container {
    max-width: 1100px;
    width: 1100px;
}
.header-body {
    margin-right: -30% !important;
    margin-left: -30% !important;
}
.header-title {
    margin-right: -30% !important;
    margin-left: -30% !important;
    font-size: 1.4rem;
}

}

.media-image { 
    margin: auto;
    width: 50%;
}

.table-image { 
    margin: auto;
    width: 100%;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3rem;
}

.border {
    border-style: solid;
    color: #c12337 !important;
    border-color: #c12337;
}

.icon-box-text {
    color: black !important;
}

.icon-box-title {
    color: black !important;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer-logo {
    margin: auto;
    width: 30%;
}

.navbar.is-fresh .navbar-item.is-secondary:hover {
    color: #bc000f !important;
}

#backtotop.visible a:hover {
    background: #bc000f;
}

a {
    color: #bc000f;
}